body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background: linear-gradient(to bottom right, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    color:white;
    text-align:center;
    padding:20px;
}

button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff4d6d;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}

.carta{
    margin-top:30px;
    max-width:400px;
    background:white;
    color:black;
    padding:20px;
    border-radius:15px;
    opacity:0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.mostrar{
    opacity:1;
    transform: translateY(0);
}

.galeria{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    opacity:0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.mostrarGaleria{
    opacity:1;
    transform: translateY(0);
}

.galeria img,
.galeria video{
    width:180px;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    transition: transform 0.4s;
}

/* Rotaciones alternadas */
.galeria img:nth-child(odd),
.galeria video:nth-child(odd){
    transform: rotate(-8deg);
}

.galeria img:nth-child(even),
.galeria video:nth-child(even){
    transform: rotate(6deg);
}

.galeria img:hover,
.galeria video:hover{
    transform: rotate(0deg) scale(1.1);
    z-index:10;
}
